@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

@keyframes slide-up {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 0;
    }
}

.animate-slide-up {
    animation: slide-up 0.5s ease-out forwards;
}

.rubik-bubbles-regular {
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 400;
  font-style: normal;
}
.stroke-black-500 {
  -webkit-text-stroke: 1px black;
  text-stroke: 1px rgb(0, 0, 0);
  opacity: 0.5;
}